@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  min-width: 1024px;
} */


@font-face {
	font-family: iransans;
	src: url('../fonts/IRANSansXV.woff') format('woff-variations'), url('../fonts/IRANSansXV.woff') format('woff');
	font-weight: 100 900;
	font-display: fallback;
	font-variation-settings: "dots" 4;
}

* {
	font-family: iransans;
	-moz-font-feature-settings: "ss02";
	-webkit-font-feature-settings: "ss02";
	font-feature-settings: "ss02";
}

html {
	scroll-behavior: smooth;
}

.skill {
  padding: 0.25rem 0.5rem;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
  border-radius: 0.125rem;
  display: inline-block;
  margin: 0 0.5rem 0.5rem 0;
  font-size: 13px;
  font-weight: 500;
}

h2 {
  font-size: 16px;
}

.Experiences h4 + span.font-semibold {
  font-size: 12px;
}

@media only screen  and (min-width: 1024px) {
  body > .container {
    max-width: 1024px;
  }
}

@media only print {
  /*container mx-auto my-16 bg-white shadow-xl*/
  body > .container {
    margin: unset;
    max-width: unset !important;
  }
}

