@tailwind base;
@tailwind components;
@tailwind utilities;

.skill {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
  border-radius: 0.125rem;
  display: inline-block;
  margin: 0 0.5rem 0.5rem 0;
}
